.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.A{
    height: 150px;
    width:400px
}
.deletebutton{
    background-color:red;
    color: white;
    height:30px;
    width:80px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    transition-duration: .2s;
}
.deletebutton:hover{
    transform: scale(1.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inner-container{
    height: auto;
    background-color: rgb(138, 242, 242);
    padding-left: 50px;
    border: 8px solid rgb(31, 140, 249);
    border-radius: 10px;
}
   .link{
    font-size: 20px;
    font-weight: bold;
}