.homebutton{
   height: 200px;
   width: 200px;
   border:8px solid rgb(0, 255, 132);
   border-radius: 10px;
   transition-duration: .3s;
   margin-top: 30px;
}
.homebutton:hover{
    transform: scale(1.1);
}
.homediv{
    background-image: url(./wallpaper.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}